@import "variables";

html {
  font-size: 5px;
  font-family: 'Pacifico', cursive;

  body {
    background-color: $background;
    color: $text-color;
    margin: 0;
    padding: 0;

    .container{

        position: absolute;
        top: 10%;
        left: 5rem;
        right: 5rem;
        //transform: translateY(-60%);
      //GAME MENU
      .game-menu {
        .logo {
          letter-spacing: 0.3rem;
          text-align: center;
          font-size: 8rem;
          margin-bottom: 5rem;
        }
        .menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .menu-buttons {
            margin: 3rem;

            button {
              width: 30rem;
              height: 13rem;
              border-radius: 7rem;
              font-size: 5rem;
              font-family: 'Pacifico', cursive;
              background-color: #FFFFFF;
            }
          }
        }
      }
      //PLAYING FIELD
      .tic-tac-toe {
        display: none;

        .main-informations {
          @extend  %flex-center;
          padding: 3rem 3rem;
          font-size: 6rem;
          letter-spacing: 0.5rem;
        }

        .game-field {
          .row {
            @extend %flex-center;
            .svg {
              height: 100%;
              width: 70%;
              margin: 0 13%;
              fill-opacity: 1;
              fill: #FFFFFF;
            }
            .field {
              height: 15rem;
              width: 15rem;
              margin: 1rem;
              border-radius: 1rem;
              background: $field-color;
            }
          }
        }
      }
      .button-back {
        display: none;
        margin: 5rem auto;

        button {
          background-color: #FFFFFF;
          width: 30rem;
          height: 13rem;
          border-radius: 7rem;
          font-size: 5rem;
          font-family: 'Pacifico', cursive;
        }
      }
      .results {
        font-size: 5rem;
        display: none;
        margin: 4rem auto;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
    }
  }

}
