$background: #EFEFEF;
$text-color: #0E0E0E;
$line-color: #000000;
$field-color: #66ACD3;
$button-hover-color: #EBEBEB;

%flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}